.nav-bar {
    border-bottom: solid white;
    display: flex;
    justify-content: center;
    background-color: #181a1b;
}

h1 {
    text-align: center;
}


.body {
    margin: 0;
    background-color: #181a1b;
}


#container {
    max-width: 1560px;
    margin: 0 auto;
}


#posterBox {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.poster {
    flex: 0 0 250px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .5rem;
    height: 500px;
}


#searchBox {
    text-align: center;
    font-size: 40px;
    padding: 25px;
}

.search-result-msg {
    color: white;
}