.top-movie-poster {
    width: 20%;
    border-radius: .75rem;

}

h1 {
    text-align: center;
}

.body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #181a1b;
}

.nav-bar {
    border-bottom: solid white;
    display: flex;
    justify-content: center;
    background-color: #181a1b;
}

#container {
    display: flex;
    height: 100%;

}


section {
    display: flex;
    flex-direction: column;
}

#search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

#title {
    border: 1px solid white !important;
    padding: 1rem !important;
    border-radius: .5rem !important;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#title {
    width: 50%;
}

#search {
    width: 10%;
}

#topMovieBox {
    display: flex;
    height: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.poster-info {
    width: 20%;
    border-radius: .75rem;
}

.movify-logo {
    width: 25%;
}